amqp==5.0.2
asgiref==3.2.10
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
billiard==3.6.3.0
blinker==1.4
bower==0.0.0
Brotli==1.0.9
bs4==0.0.1
cached-property==1.5.2
celery==5.0.5
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
console==0.9905
cp==2020.12.3
cryptography==3.1.1
distro==1.5.0
dj-database-url==0.5.0
Django==3.1.3
django-bower==5.2.0
django-heroku==0.3.1
django-widget-tweaks==1.4.8
dockerpty==0.4.1
docopt==0.6.2
ezenv==0.91
Flask==1.1.2
Flask-BabelEx==0.9.4
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-WTF==0.14.3
grunt==0.1.1
gunicorn==20.0.4
httplib2==0.18.1
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
kombu==5.0.2
MarkupSafe==1.1.1
nodejs==0.1.1
npm==0.1.1
optional-django==0.1.0
ordereddict==1.1
packaging==20.4
passlib==1.7.4
Pillow==8.1.0
pluggy==0.13.1
prompt-toolkit==3.0.10
psycopg2==2.8.6
py==1.9.0
pycparser==2.20
pyOpenSSL==20.0.0
pyparsing==2.4.7
pytest==6.1.2
pytz==2020.1
Rails==0.0.5
redis==3.5.3
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
speaklater==1.3
sqlparse==0.4.1
toml==0.10.2
urllib3==1.25.11
vine==5.0.0
wcwidth==0.2.5
WebOb==1.8.6
Werkzeug==1.0.1
whitenoise==5.2.0
WTForms==2.3.3
youtrack==0.1.69
