{% extends 'base.html' %}
{% load static %}


  {% block content %}


<style>
    #info_dodatkowe {
        margin-left: 275px;
        width: 500px;
        height: 100px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    }
</style>

<script>
    function myFunction() { // przycisk rezerwacja
        document.getElementById("wypo").disabled = false;
        var yourSelect = document.getElementById("Dane");
        var yourSelect1 = document.getElementById("Dane1");
        var yourSelectcena = document.getElementById("Dane_cena");
        document.getElementById("id_data_rozpoczecia").value = document.getElementById("start").value;
        document.getElementById("id_data_zakonczenia").value = document.getElementById("koniec").value;
        document.getElementById("id_godzina_rozpoczecia").value = document.getElementById("gstart").value;
        document.getElementById("id_godzina_zakonczenia").value = document.getElementById("gkoniec").value;
        document.getElementById("id_klient").value = yourSelect.options[yourSelect.selectedIndex].value;
        document.getElementById("id_sprzet").value = yourSelect1.options[yourSelect1.selectedIndex].value;
        document.getElementById("id_data_rozpoczecia").value = document.getElementById("start").value;
        document.getElementById("id_status").value = "Rezerwacja"
        document.getElementById("id_id_klient").value = yourSelect.options[yourSelect.selectedIndex].value;
        document.getElementById("id_id_sprzet").value = yourSelect1.options[yourSelect1.selectedIndex].value;
        document.getElementById("id_informacje_dodatkowe").value = document.getElementById("info_dodatkowe").value;

        if (document.getElementById("id_id_klient").value == "Brak") {
            document.getElementById('alertNieWybranyKlient').className = "alert1 show";
            document.getElementById('alertNieWybranyKlient').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }

        if (document.getElementById("id_id_sprzet").value == "Brak") {
            document.getElementById('alertNieWybranyRower').className = "alert1 show";
            document.getElementById('alertNieWybranyRower').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }

        var informacje = document.getElementById("info_dodatkowe").value;
        console.log(informacje.length);
        if (informacje.length > 150) { 
            document.getElementById('alertInfoDodatkowe150').className = "alert1 show";
            document.getElementById('alertInfoDodatkowe150').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }
        else if (informacje.length == 0) {
            document.getElementById("id_informacje_dodatkowe").value = "Brak informacji dodatkowych";
        }

        var godzina_roz = parseInt(document.getElementById("gstart").value);
        var godzina_zak = parseInt(document.getElementById("gkoniec").value);
        var godziny_wyp = godzina_zak - godzina_roz;
        var cena_dzien = document.getElementById("id_platnosc").value = yourSelectcena.options[yourSelectcena.selectedIndex].value * 4;
        var dzien_roz = new Date(document.getElementById("start").value);
        var dzien_zak = new Date(document.getElementById("koniec").value);
        var dni_wyp = dzien_zak.getDate() - dzien_roz.getDate();
        var miesiac = dzien_roz.getMonth() + 1;
        var rok = dzien_roz.getFullYear();
        var dni = new Date(rok, miesiac, 0).getDate();
        var miesiacDzisiaj = new Date().getMonth() + 1;

        //zabezpieczenie przed ustawieniem dnia rozpoczęcia wcześniejszego od dzisijeszego
        var dzienDzisiaj = new Date().getDate();
        if (dzien_roz.getDate() < dzienDzisiaj) { 
            document.getElementById('alertDzienRozpoczeciaWczesniejszyOdDzis').className = "alert1 show";
            document.getElementById('alertDzienRozpoczeciaWczesniejszyOdDzis').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }

        var godzinaTeraz = new Date().getHours();
        if (godzinaTeraz > godzina_roz && dzienDzisiaj == dzien_roz.getDate() && miesiac == miesiacDzisiaj) { 
            document.getElementById('alertGodzinaRezerwacji').className = "alert1 show";
            document.getElementById('alertGodzinaRezerwacji').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }
        

        var znizkavalue = document.getElementById("znizka").value / 100; //Backend opcje dodatkowe
        var znizka = 1 - znizkavalue;
        if (document.getElementById("znizka").value > 99 || document.getElementById("znizka").value < 0) {
            document.getElementById('alertZnizka').className = "alert1 show";
            document.getElementById('alertZnizka').className = "alert1 showAlert";
            znizka = 1;
            document.getElementById("wypo").disabled = true;
        }

        if (dzien_zak.getDate() < dzien_roz.getDate()) {
            dni_wyp = dni_wyp + dni;
        }
        if (dni_wyp > 0) {
            document.getElementById("id_platnosc").value = Math.round(cena_dzien * dni_wyp * znizka);
            document.getElementById("akt_cena").value = Math.round(cena_dzien * dni_wyp * znizka);
        }
        else if (godziny_wyp <= 4) {
            document.getElementById("id_platnosc").value = Math.round(yourSelectcena.options[yourSelectcena.selectedIndex].value * godziny_wyp * znizka);
            document.getElementById("akt_cena").value = Math.round(yourSelectcena.options[yourSelectcena.selectedIndex].value * godziny_wyp * znizka);
        }
        else {
            document.getElementById("id_platnosc").value = Math.round(cena_dzien * znizka);
            document.getElementById("akt_cena").value = Math.round(cena_dzien * znizka);
        }
        daty();

        var r = document.getElementsByClassName("alert1 showAlert");
        r[1].style.top = "100px";
        r[2].style.top = "190px";
        r[3].style.top = "280px";
        r[4].style.top = "370px";
        r[5].style.top = "460px";
        r[6].style.top = "550px";

    }
    function myFunction2() { // przycisk pickup
        document.getElementById("wypo").disabled = false;
        var yourSelect = document.getElementById("Dane");
        var yourSelect1 = document.getElementById("Dane1");
        var yourSelectcena = document.getElementById("Dane_cena");
        document.getElementById("id_data_rozpoczecia").value = document.getElementById("start").value;
        document.getElementById("id_data_zakonczenia").value = document.getElementById("koniec").value;
        document.getElementById("id_godzina_rozpoczecia").value = document.getElementById("gstart").value;
        document.getElementById("id_godzina_zakonczenia").value = document.getElementById("gkoniec").value;
        document.getElementById("id_klient").value = yourSelect.options[yourSelect.selectedIndex].value;
        document.getElementById("id_sprzet").value = yourSelect1.options[yourSelect1.selectedIndex].value;
        document.getElementById("id_data_rozpoczecia").value = document.getElementById("start").value;
        document.getElementById("id_status").value = "Pickup"
        document.getElementById("id_id_klient").value = yourSelect.options[yourSelect.selectedIndex].value;
        document.getElementById("id_id_sprzet").value = yourSelect1.options[yourSelect1.selectedIndex].value;
        document.getElementById("id_informacje_dodatkowe").value = document.getElementById("info_dodatkowe").value;

        if (document.getElementById("id_id_klient").value == "Brak") {
            document.getElementById('alertNieWybranyKlient').className = "alert1 show";
            document.getElementById('alertNieWybranyKlient').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }

        if (document.getElementById("id_id_sprzet").value == "Brak") {
            document.getElementById('alertNieWybranyRower').className = "alert1 show";
            document.getElementById('alertNieWybranyRower').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }

        var informacje = document.getElementById("info_dodatkowe").value;

        if (informacje.length > 150) {
            document.getElementById('alertInfoDodatkowe150').className = "alert1 show";
            document.getElementById('alertInfoDodatkowe150').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }
        else if (informacje.length == 0) {
            document.getElementById("id_informacje_dodatkowe").value = "Brak informacji dodatkowych";
        }

        var godzina_roz = parseInt(document.getElementById("gstart").value);
        var godzina_zak = parseInt(document.getElementById("gkoniec").value);
        var godziny_wyp = godzina_zak - godzina_roz;
        var cena_dzien = document.getElementById("id_platnosc").value = yourSelectcena.options[yourSelectcena.selectedIndex].value * 4;
        var dzien_roz = new Date(document.getElementById("start").value);
        var dzien_zak = new Date(document.getElementById("koniec").value);
        var dni_wyp = dzien_zak.getDate() - dzien_roz.getDate();
        var miesiac = dzien_roz.getMonth() + 1;
        var rok = dzien_roz.getFullYear();
        var dni = new Date(rok, miesiac, 0).getDate();

        var rokDzisiaj = new Date().getFullYear(); //zabezpieczenie przed ustawieniem statusu pickup na inny dzien niż dzisaiejszy
        var miesiacDzisiaj = new Date().getMonth() + 1;
        var dzienDzisiaj = new Date().getDate();
        if (dzien_roz.getDate() != dzienDzisiaj || miesiac != miesiacDzisiaj) {
            document.getElementById('alertPickDzis').className = "alert1 show";
            document.getElementById('alertPickDzis').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }
        if (dzien_roz.getDate() < dzienDzisiaj) {
            document.getElementById('alertDzienRozpoczeciaWczesniejszyOdDzis').className = "alert1 show";
            document.getElementById('alertDzienRozpoczeciaWczesniejszyOdDzis').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }

        var godzinaTeraz = new Date().getHours();
        if (godzinaTeraz > godzina_roz && dzien_roz.getDate() == dzienDzisiaj && miesiac == miesiacDzisiaj) {
            document.getElementById('alertPickDzisGodzina').className = "alert1 show";
            document.getElementById('alertPickDzisGodzina').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }


        var znizkavalue = document.getElementById("znizka").value / 100;
        var znizka = 1 - znizkavalue;
        if (document.getElementById("znizka").value > 99 || document.getElementById("znizka").value < 0) {
            document.getElementById('alertZnizka').className = "alert1 show";
            document.getElementById('alertZnizka').className = "alert1 showAlert";
            znizka = 1;
            document.getElementById("wypo").disabled = true;
        }

        if (dzien_zak.getDate() < dzien_roz.getDate()) {
            dni_wyp = dni_wyp + dni;
        }
        if (dni_wyp > 0) {
            document.getElementById("id_platnosc").value = Math.round(cena_dzien * dni_wyp * znizka);
            document.getElementById("akt_cena").value = Math.round(cena_dzien * dni_wyp * znizka);
        }
        else if (godziny_wyp <= 4) {
            document.getElementById("id_platnosc").value = Math.round(yourSelectcena.options[yourSelectcena.selectedIndex].value * godziny_wyp * znizka);
            document.getElementById("akt_cena").value = Math.round(yourSelectcena.options[yourSelectcena.selectedIndex].value * godziny_wyp * znizka);
        }
        else {
            document.getElementById("id_platnosc").value = Math.round(cena_dzien * znizka);
            document.getElementById("akt_cena").value = Math.round(cena_dzien * znizka);
        }
        daty();


        var p = document.getElementsByClassName("alert1 showAlert");
        p[1].style.top = "100px";
        p[2].style.top = "190px";
        p[3].style.top = "280px";
        p[4].style.top = "370px";
        p[5].style.top = "460px";
        p[6].style.top = "550px";
    }

    function myFunction3() { // przycisk dostawy
        document.getElementById("wypo").disabled = false;
        var yourSelect = document.getElementById("Dane");
        var yourSelect1 = document.getElementById("Dane1");
        var yourSelectcena = document.getElementById("Dane_cena");
        document.getElementById("id_data_rozpoczecia").value = document.getElementById("start").value;
        document.getElementById("id_data_zakonczenia").value = document.getElementById("koniec").value;
        document.getElementById("id_godzina_rozpoczecia").value = document.getElementById("gstart").value;
        document.getElementById("id_godzina_zakonczenia").value = document.getElementById("gkoniec").value;
        document.getElementById("id_klient").value = yourSelect.options[yourSelect.selectedIndex].value;
        document.getElementById("id_sprzet").value = yourSelect1.options[yourSelect1.selectedIndex].value;
        document.getElementById("id_data_rozpoczecia").value = document.getElementById("start").value;
        document.getElementById("id_status").value = "Dostawa"
        document.getElementById("id_id_klient").value = yourSelect.options[yourSelect.selectedIndex].value;
        document.getElementById("id_id_sprzet").value = yourSelect1.options[yourSelect1.selectedIndex].value;
        document.getElementById("id_informacje_dodatkowe").value = document.getElementById("info_dodatkowe").value;

        if (document.getElementById("id_id_klient").value == "Brak") {
            document.getElementById('alertNieWybranyKlient').className = "alert1 show";
            document.getElementById('alertNieWybranyKlient').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }

        if (document.getElementById("id_id_sprzet").value == "Brak") {
            document.getElementById('alertNieWybranyRower').className = "alert1 show";
            document.getElementById('alertNieWybranyRower').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }

        var informacje = document.getElementById("info_dodatkowe").value;
        console.log(informacje.length);
        if (informacje.length > 150) {
            document.getElementById('alertInfoDodatkowe150').className = "alert1 show";
            document.getElementById('alertInfoDodatkowe150').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }
        else if (informacje.length == 0) {
            document.getElementById('alertInfoDodatkowe0').className = "alert1 show";
            document.getElementById('alertInfoDodatkowe0').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }

        var godzina_roz = parseInt(document.getElementById("gstart").value);
        var godzina_zak = parseInt(document.getElementById("gkoniec").value);
        var godziny_wyp = godzina_zak - godzina_roz;
        var cena_dzien = document.getElementById("id_platnosc").value = yourSelectcena.options[yourSelectcena.selectedIndex].value * 4;
        var dzien_roz = new Date(document.getElementById("start").value);
        var dzien_zak = new Date(document.getElementById("koniec").value);
        var dni_wyp = dzien_zak.getDate() - dzien_roz.getDate();
        var miesiac = dzien_roz.getMonth() + 1;
        var rok = dzien_roz.getFullYear();
        var dni = new Date(rok, miesiac, 0).getDate();

        var data_dzisiaj = new Date();
        var rokDzisiaj = new Date().getFullYear(); //zabezpieczenie przed ustawieniem statusu dostawy na dzien dzisaiejszy z godziną która nie jest póżniejsza o 2 godziny od stworzenia
        var godzinaTeraz = new Date().getHours() + 2;
        var miesiacDzisiaj = new Date().getMonth() + 1;
        var dzienDzisiaj = new Date().getDate();
        var miesiac_roz = dzien_roz.getMonth() + 1;
        var miesiac_aktualny = data_dzisiaj.getMonth() + 1;
        console.log(rokDzisiaj, miesiacDzisiaj, dzienDzisiaj, dzien_roz.getDate());
        if (godzinaTeraz > godzina_roz && dzienDzisiaj == dzien_roz.getDate() && miesiac == miesiacDzisiaj) {
            document.getElementById('alertGodzinaDostawy').className = "alert1 show";
            document.getElementById('alertGodzinaDostawy').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }

        //zabezpieczenie przed ustawieniem dnia rozpoczęcia wcześniejszego od dzisijeszego
        if (dzien_roz.getDate() < dzienDzisiaj && miesiac_roz == miesiac_aktualny) {
            document.getElementById('alertDzienRozpoczeciaWczesniejszyOdDzis').className = "alert1 show";
            document.getElementById('alertDzienRozpoczeciaWczesniejszyOdDzis').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }


        var znizkavalue = document.getElementById("znizka").value / 100;
        var znizka = 1 - znizkavalue;
        if (document.getElementById("znizka").value > 99 || document.getElementById("znizka").value < 0) {
            document.getElementById('alertZnizka').className = "alert1 show";
            document.getElementById('alertZnizka').className = "alert1 showAlert";
            znizka = 1;
            document.getElementById("wypo").disabled = true;
        }

        if (dzien_zak.getDate() < dzien_roz.getDate()) {
            dni_wyp = dni_wyp + dni;
        }
        if (dni_wyp > 0) {
            document.getElementById("id_platnosc").value = Math.round(cena_dzien * dni_wyp * znizka);
            document.getElementById("akt_cena").value = Math.round(cena_dzien * dni_wyp * znizka);
        }
        else if (godziny_wyp <= 4) {
            document.getElementById("id_platnosc").value = Math.round(yourSelectcena.options[yourSelectcena.selectedIndex].value * godziny_wyp * znizka);
            document.getElementById("akt_cena").value = Math.round(yourSelectcena.options[yourSelectcena.selectedIndex].value * godziny_wyp * znizka);
        }
        else {
            document.getElementById("id_platnosc").value = Math.round(cena_dzien * znizka);
            document.getElementById("akt_cena").value = Math.round(cena_dzien * znizka);
        }

        daty();

        var d = document.getElementsByClassName("alert1 showAlert");
        d[1].style.top = "100px";
        d[2].style.top = "190px";
        d[3].style.top = "280px";
        d[4].style.top = "370px";
        d[5].style.top = "460px";
        d[6].style.top = "550px";


    }


    function daty() {
        var dzien_roz = new Date(document.getElementById("start").value);
        var dzien_zak = new Date(document.getElementById("koniec").value);
        var aktualnyMiesiac = new Date().getMonth() + 1;
        var miesiac_roz = dzien_roz.getMonth() + 1;
        var miesiac_zak = dzien_zak.getMonth() + 1;
        if (miesiac_zak < miesiac_roz) {
            document.getElementById('alertMiesiacRozpoczeciaWiekszy').className = "alert1 show";
            document.getElementById('alertMiesiacRozpoczeciaWiekszy').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }
        if (aktualnyMiesiac > miesiac_roz) {
            document.getElementById('alertMiesiacRozpoczeciaWczesniejszyOdAktualnego').className = "alert1 show";
            document.getElementById('alertMiesiacRozpoczeciaWczesniejszyOdAktualnego').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }
        
        if (dzien_roz.getDate() > dzien_zak.getDate() && miesiac_roz == miesiac_zak) {
            document.getElementById('alertDzienRozpoczeciaWiekszy').className = "alert1 show";
            document.getElementById('alertDzienRozpoczeciaWiekszy').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;
        }

        var godzina_roz = parseInt(document.getElementById("gstart").value);
        var godzina_zak = parseInt(document.getElementById("gkoniec").value);
        console.log(dzien_roz.getDate() + " " + dzien_zak.getDate() + " " + miesiac_roz + " " + miesiac_zak)
        if (dzien_roz.getDate() == dzien_zak.getDate() && godzina_roz >= godzina_zak && miesiac_roz == miesiac_zak ) {
            document.getElementById('alertGodzinaRozpoczeciaWiekszaOdGodzinyZakonczenia').className = "alert1 show";
            document.getElementById('alertGodzinaRozpoczeciaWiekszaOdGodzinyZakonczenia').className = "alert1 showAlert";
            document.getElementById("wypo").disabled = true;

        }
        

    }

    function myFunction1() {

        document.getElementsByTagName("label")[0].innerHTML = "";
        document.getElementsByTagName("label")[1].innerHTML = "";
        document.getElementsByTagName("label")[2].innerHTML = "";
        document.getElementsByTagName("label")[3].innerHTML = "";
        document.getElementsByTagName("label")[4].innerHTML = "";
        document.getElementsByTagName("label")[5].innerHTML = "";
        document.getElementsByTagName("label")[6].innerHTML = "";
        document.getElementsByTagName("label")[7].innerHTML = "";
        document.getElementsByTagName("label")[8].innerHTML = "";
        document.getElementsByTagName("label")[9].innerHTML = "";
        document.getElementsByTagName("label")[10].innerHTML = "";
        document.getElementsByTagName("label")[11].innerHTML = "";
        document.getElementsByTagName("label")[12].innerHTML = "";
        document.getElementsByTagName("label")[13].innerHTML = "";
        document.getElementById("id_data_rozpoczecia").type = "hidden";
        document.getElementById("id_data_zakonczenia").type = "hidden";
        document.getElementById("id_godzina_rozpoczecia").type = "hidden";
        document.getElementById("id_godzina_zakonczenia").type = "hidden";
        document.getElementById("id_klient").style.visibility = 'hidden';
        document.getElementById("id_sprzet").style.visibility = 'hidden';
        document.getElementById("id_status").style.visibility = 'hidden';
        document.getElementById("id_id_klient").style.visibility = 'hidden';
        document.getElementById("id_id_sprzet").style.visibility = 'hidden';
        document.getElementById("id_platnosc").style.visibility = 'hidden';
        document.getElementById("id_rodzaj_platnosci").style.visibility = 'hidden';
        document.getElementById("id_status_platnosci").style.visibility = 'hidden';
        document.getElementById("id_data_platnosci").style.visibility = 'hidden';
        document.getElementById("id_informacje_dodatkowe").style.visibility = 'hidden';
        document.getElementById("start").valueAsDate = new Date();
        document.getElementById("koniec").valueAsDate = new Date();

     
    }
  

    function bladWylInfo() {
        document.getElementById('alertInfoDodatkowe150').style.top = "10px";
        document.getElementById('alertInfoDodatkowe150').className = "alert1 hide";
        document.getElementById('alertInfoDodatkowe0').style.top = "10px";
        document.getElementById('alertInfoDodatkowe0').className = "alert1 hide";

    }
    function bladWylData() {
        document.getElementById('alertDzienRozpoczeciaWczesniejszyOdDzis').style.top = "10px";
        document.getElementById('alertDzienRozpoczeciaWczesniejszyOdDzis').className = "alert1 hide";
        document.getElementById('alertGodzinaRezerwacji').style.top = "10px";
        document.getElementById('alertGodzinaRezerwacji').className = "alert1 hide";
    }
    function bladWylZnizka() {
        document.getElementById('alertZnizka').style.top = "10px";
        document.getElementById('alertZnizka').className = "alert1 hide";
    }
    function bladWylPickDzis() {
        document.getElementById('alertPickDzis').style.top = "10px";
        document.getElementById('alertPickDzis').className = "alert1 hide";
    }
    function bladWylPickDzisGodzina() {
        document.getElementById('alertPickDzisGodzina').style.top = "10px";
        document.getElementById('alertPickDzisGodzina').className = "alert1 hide";
    }
    function bladWylGodzinaDostawy() {
        document.getElementById('alertGodzinaDostawy').style.top = "10px";
        document.getElementById('alertGodzinaDostawy').className = "alert1 hide";
    }
    function bladWylDzienRozpoczeciaWiekszy() {
        document.getElementById('alertDzienRozpoczeciaWiekszy').style.top = "10px";
        document.getElementById('alertDzienRozpoczeciaWiekszy').className = "alert1 hide";
    }
    function bladWylMiesiacRozpoczeciaWiekszy() {
        document.getElementById('alertMiesiacRozpoczeciaWiekszy').style.top = "10px";
        document.getElementById('alertMiesiacRozpoczeciaWiekszy').className = "alert1 hide";
    }
    function bladWylNieWybranyRower() {
        document.getElementById('alertNieWybranyRower').style.top = "10px";
        document.getElementById('alertNieWybranyRower').className = "alert1 hide";
    }
    function bladWylNieWybranyKlient() {
        document.getElementById('alertNieWybranyKlient').style.top = "10px";
        document.getElementById('alertNieWybranyKlient').className = "alert1 hide";
    }
    function bladWylGodzinaRozpoczeciaWiekszaOdGodzinyZakonczenia() {
        document.getElementById('alertGodzinaRozpoczeciaWiekszaOdGodzinyZakonczenia').style.top = "10px";
        document.getElementById('alertGodzinaRozpoczeciaWiekszaOdGodzinyZakonczenia').className = "alert1 hide";
    }
    function bladWylMiesiacRozpoczeciaWczesniejszyOdAktualnego() {
        document.getElementById('alertMiesiacRozpoczeciaWczesniejszyOdAktualnego').style.top = "10px";
        document.getElementById('alertMiesiacRozpoczeciaWczesniejszyOdAktualnego').className = "alert1 hide";
    }

    function ustawCene() {
        var yourSelect1 = document.getElementById("Dane1");
        var cenaSelect = document.getElementById("Dane_cena");
        cenaSelect.selectedIndex = yourSelect1.selectedIndex;
        console.log(cenaSelect.options[cenaSelect.selectedIndex].value);
    }

</script>
<div style="margin-left:1500px; font-family: 'Advent Pro'">
    <button class="btn btn-success"><a class="text-warning" href="{% url 'rejestracja' %}">Stwórz użytkownika</a></button>
</div>
<div>
    <div style="float: left;width: 50%;" class="form-row">

        <div class="form-group col-md-6">
            <p style="margin-left:460px; width:600px;">Podaj klienta do wypożyczenia</p>
            <form method="GET" action="{% url 'wypozyczenie' %}">

                <input style="text-align:center; margin-left:460px; font-family: 'Advent Pro'" name="q" class="form-control" value="{{request.GET.q}}" placeholder="Szukaj" style="max-width:300px">
            </form>


            <select style=" margin-left: 100%; width: 155px; font-family: 'Advent Pro'" id="Dane" class="btn btn-info">
                <option value="Brak">Wybierz klienta</option>
                {% for klient in obj %}

                <option value="{{ klient.id }}">{{ klient.id }} {{ klient.imie }} {{ klient.nazwisko }} {{ klient.nr_dokumentu }}</option>

                {% endfor %}
            </select>
        </div>
    </div>

    <div style="  float: left;width: 50%;" class=" form-row">
        <div class="form-group col-md-6">
            <p style="margin-left: 250px; width: 600px;">Podaj sprzęt do wypożyczenia</p>
            <form method="GET" action="{% url 'wypozyczenie' %}">
                <input style="text-align:center;margin-left:250px;font-family: 'Advent Pro' " name="q1" class="form-control" value="{{request.GET.q1}}" placeholder="Szukaj" style="max-width:300px">
            </form>

            <select onchange="ustawCene()" style="margin-left:56.5%; width: 155px;font-family: 'Advent Pro'" id="Dane1" class="btn btn-info">
                <option value="Brak">Wybierz sprzet</option>
                {% for sprzet in obj1 %}

                <option value="{{ sprzet.id }}" size="100">{{ sprzet.id }} {{ sprzet.nazwa }} </option>
                {% endfor %}
            </select>

            <select style="margin-left: 56.5%; margin-top:5px; width: 155px; font-family: 'Advent Pro'" id="Dane_cena" class="btn btn-info" hidden>
                <option value="Spis sprzetu">ID   CENA</option>
                {% for sprzet in obj1 %}

                <option value="{{ sprzet.cena_godzina }}" size="100">{{ sprzet.id }} {{ sprzet.cena_godzina }}  </option>
                {% endfor %}
            </select>

        </div>

    </div>
</div>
<p> </p>
<div class="glowny">
    <div style=" width:59.8%; float:left;">

        <p style="margin-left: 30.5%;" for="start">Data rozpoczęcia:</p>

        <input onchange="output()" style="margin-left:30.5%; font-family: 'Advent Pro'" class="btn btn-danger" type="date" id="start" name="trip-start"
               value="2021-01-22"
               min="2020-01-01" max="2022-12-31">

        <input style="margin:auto; font-family: 'Advent Pro'" class="btn btn-danger" type="time" id="gstart" name="appt"
               value="09:00"
               min="09:00" max="21:00" required>


    </div>

    <div style=" width:40.2%; float:left;">
        <p style="margin-left:8%" for="start">Data zakończenia:</p>

        <input style="margin-left:8%; font-family: 'Advent Pro'" class="btn btn-danger" type="date" id="koniec" name="trip-start"
               value="2021-12-31"
               min="2020-01-01" max="2022-12-31">


        <input style="font-family: 'Advent Pro'" class="btn btn-danger" type="time" id="gkoniec" name="appt"
               value="21:00"
               min="09:00" max="21:00" required>

    </div>
</div>
<p> </p>
<div class="glowny" style="margin-left:50%; padding-top:250px;">
    <p style="margin-left:25px;">Wybierz status wypożyczenia</p>
    <button style="margin-left:0.5px;font-family: 'Advent Pro'" class="btn btn-primary" onclick="myFunction3()" id="dos">Dostawa</button>
    <button style="margin-left:1.5px;font-family: 'Advent Pro'" class="btn btn-primary" onclick="myFunction()" id="rez">Rezerwacja</button>
    <button style="margin-left:2.5px; font-family: 'Advent Pro'" class="btn btn-primary" onclick="myFunction2()" id="pick">Pickup</button>
</div>
<div>

    <input style="margin-left:300px;font-family: 'Advent Pro'" placeholder="Aktualna cena" id="akt_cena" />
    <input style="margin-left:40px;font-family: 'Advent Pro'" placeholder="Podaj zniżke od 0 do 99" id="znizka" />
    <form method="post">
        {% csrf_token %}



        <input style="margin-left:1500px; font-family: 'Advent Pro'" class="btn btn-primary" type="submit" value="Dodaj wypożyczenie" onclick="daty()" id="wypo">
        <textarea id="info_dodatkowe" placeholder="Informacje dodatkowe"></textarea>
        {{ form.as_ul }}


    </form>

</div>
<div class="Duzydiv">
    <div id="alertInfoDodatkowe150" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Wiadomość informacji dodatkowych jest za długa maksymalna ilość znaków 150</span>
        <div onclick="bladWylInfo()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertInfoDodatkowe0" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Przy dostawie informacje dodatkowe są obowiązkowe</span>
        <div onclick="bladWylInfo()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertDzienRozpoczeciaWczesniejszyOdDzis" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Wybrałeś dzień rozpoczęcia wcześniejszy od dnia dzisiejszego</span>
        <div onclick="bladWylData()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertGodzinaRezerwacji" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Wybrałeś godzinę rozpoczęcia wcześniejszą od obecnej</span>
        <div onclick="bladWylData()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertZnizka" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Zniżka obejmuje zakres od 1% do 99%</span>
        <div onclick="bladWylZnizka()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertPickDzis" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Status pickup nie może być wybrany do wypożyczenia na inny dzień niż dzisiejszy</span>
        <div onclick="bladWylPickDzis()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertPickDzisGodzina" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Wybrałeś godzinę rozpoczęcia wcześniejszą od obecnej</span>
        <div onclick="bladWylPickDzisGodzina()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertGodzinaDostawy" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Dostawa na bieżący dzień nie może być zrealizowana wcześniej niż 2 godziny od stworzenia dostawy</span>
        <div onclick="bladWylGodzinaDostawy()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertMiesiacRozpoczeciaWiekszy" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Miesiąc rozpoczęcia większy od miesiąca zakończenia</span>
        <div onclick="bladWylMiesiacRozpoczeciaWiekszy()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertDzienRozpoczeciaWiekszy" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Dzien rozpoczęcia większy od dnia zakończenia</span>
        <div onclick="bladWylDzienRozpoczeciaWiekszy()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertGodzinaRozpoczeciaWiekszaOdGodzinyZakonczenia" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Godzina rozpoczęcia nie może być większa lub równa od godziny zakończenia</span>
        <div onclick="bladWylGodzinaRozpoczeciaWiekszaOdGodzinyZakonczenia()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertNieWybranyKlient" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Klient nie został dodany do wypożyczenia</span>
        <div onclick="bladWylNieWybranyKlient()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertNieWybranyRower" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Rower nie został dodany do wypożyczenia</span>
        <div onclick="bladWylNieWybranyRower()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

    <div id="alertMiesiacRozpoczeciaWczesniejszyOdAktualnego" class="alert1 hide">
        <span class="fas fa-exclamation-circle"></span>
        <span class="msg">Miesiąc rozpoczęcia nie może być wcześniejszy od aktualnego</span>
        <div onclick="bladWylMiesiacRozpoczeciaWczesniejszyOdAktualnego()" class="close-btn">
            <span class="fas fa-times"></span>
        </div>
    </div>

</div>
    {% endblock %}