{% extends 'base.html' %}
{% load static %}
    {% block content %}
<script>

    function myFunction1() {

        document.getElementById("id_opis").style.display = "none";
        document.getElementById("id_status").type = "hidden";
        document.getElementById("id_data_wykonania").type = "hidden";
    }
    function myFunction() {
        document.getElementById("id_status").value = "Zakończone"
   
    }
</script>
<style>

    #opis {
        margin-left: 10px;
        width: 500px;
        height: 100px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    }

    #box {
        width: 500px;
        overflow: hidden;
        background: #f1f1f1;
        box-shadow: 0 0 20px black;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 9999;
        padding: 10px;
        text-align: center;
    }

        #box h1 {
            color: #333;
        }

    #close {
        font-size: 20px;
        color: white;
        padding: 10px 30px;
        cursor: pointer;
        background: #3498db;
        display: inline-block;
        border-radius: 4px;
    }
</style>


<div id="box">
    <h1>Czy napewno chcesz zakończyć zadanie?</h1>
    <form style="margin-bottom:10px" method="post">
        {% csrf_token %}
        <button name="tak" id="close" onclick="myFunction()">Tak</button>
        {{form2.data_wykonania}}
        {{form2.opis}}
        {{form2.status}}

    </form>
    <a href="{% url 'notatki' %}"><button name="nie" id="close">Nie</button></a>
</div>


    {% endblock %}
