{% extends 'base.html' %}
{% load static %}
   {% block content %}
<div class="glowny">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Rodzaj</th>
                <th scope="col">Nazwa</th>
                <th scope="col">nr_seryjny</th>
            </tr>
            {% for sprzet in obj %}
            <tr>
                <td scope="row">{{ sprzet.rodzaj }}</td>
                <td>{{ sprzet.nazwa }}</td>
                <td>{{ sprzet.nr_seryjny }}</td>
            </tr>
            {% endfor %}
    </table>

</div>   
 {% endblock %}