{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wypożyczalnia rowerów</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="{% url 'rejestracja' %}">
                    <i class="fa fa-plus fa-2x"></i>
                    <span class="nav-text">
                        Nowe wypożyczenie
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-address-card fa-2x"></i>
                    <span class="nav-text">
                        Spis klientów
                    </span>
                </a>
            </li>
    </nav>
    <div>
       

    </div>
    <div>
        
    </div>
</body>
</html>