{% extends 'base.html' %}
{% load static %}

   {% block content %}
<script>
    function myFunction1() {

        document.getElementById("id_imie").className = "form-control";
        document.getElementById("id_imie").placeholder = "Np. Andrzej";
        document.getElementById("id_imie").pattern = "^[A-ząćęłńóśźżĄĘŁŃÓŚŹŻ]{1,30}";
        document.getElementById("id_imie").title = "Imię musi być z dużej litery.";
        document.getElementById("id_nazwisko").className = "form-control";
        document.getElementById("id_nazwisko").placeholder = "Np. Kowalski";
        document.getElementById("id_nazwisko").pattern = "^[A-ząćęłńóśźżĄĘŁŃÓŚŹŻ]{1,30}";
        document.getElementById("id_nazwisko").title = "Nazwisko musi być z dużej litery.";
        document.getElementById("id_nr_dokumentu").className = "form-control";
        document.getElementById("id_rodzaj_dok").className = "form-control";
        document.getElementById("id_miesiac_dok").className = "form-control";
        document.getElementById("id_miesiac_dok").placeholder = "1";
        document.getElementById("id_miesiac_dok").pattern = "^[1]{1}[0-2]{1}|[1-9]{1}";
        document.getElementById("id_miesiac_dok").title = "Wprowadź miesiąc od 1 do 12.";
        document.getElementById("id_rok_dok").className = "form-control";
        document.getElementById("id_rok_dok").placeholder = "2021";
        document.getElementById("id_rok_dok").title = "Wprowadź rok od 2020 do 2099.";
        document.getElementById("id_rok_dok").pattern = "[2]{1}[0]{1}[2]{1}[1-9]{1}|[2]{1}[0]{1}[3-9]{1}[0-9]{1}";
        document.getElementById("id_nr_dokumentu").placeholder = "Np. CCC225486";
        document.getElementById("id_nr_dokumentu").pattern = "[A-Z]{3}[0-9]{6}"
        document.getElementById("id_nr_dokumentu").title = "Wprowadź według wzoru CCC225486.";
        document.getElementById("id_e_mail").className = "form-control";
        document.getElementById("id_e_mail").placeholder = "Np. andrzej@wp.pl";
        document.getElementById("id_e_mail").type = "email";
        document.getElementById("id_e_mail").type = "id_e_mail_1";
        document.getElementById("id_nr_telefonu").className = "form-control";
        document.getElementById("id_nr_telefonu").placeholder = "Np. +48515785456";
        document.getElementById("id_nr_telefonu").type = "tel";
        document.getElementById("id_nr_telefonu").pattern = "^[+][0-9]{9,22}";
        document.getElementById("id_nr_telefonu").title = "Wprowadzany numer musi mieć + na początku bez spacji. ";
        document.getElementById("rodzaj").value = document.getElementById("id_rodzaj_dok").value;

        document.getElementById("id_e_mail").style.borderColor = "white";
        document.getElementById("id_e_mail").style.boxShadow = "none";
        document.getElementById("id_rodzaj_dok").style.boxShadow = "none";
        document.getElementById("id_rodzaj_dok").style.borderColor = "white";



        var wzor = document.getElementById("id_rodzaj_dok").value

        if (wzor == "Paszport") {
            document.getElementById("id_nr_dokumentu").pattern = "^[A-Z]{2} [0-9]{7}"
            document.getElementById("id_nr_dokumentu").placeholder = "Np. AA 7258948"
            document.getElementById("id_nr_dokumentu").title = "Wprowadź według wzoru AA 7258948.";
        }
        if (wzor == "Dowód osobisty") {
            document.getElementById("id_nr_dokumentu").pattern = "[A-Z]{3}[0-9]{6}"
            document.getElementById("id_nr_dokumentu").placeholder = "Np. CCC225486"
            document.getElementById("id_nr_dokumentu").title = "Wprowadź według wzoru CCC225486.";
        }
        if (wzor == "Prawo jazdy") {
            document.getElementById("id_nr_dokumentu").pattern = "^[0-9]{5}\/[0-9]{2}\/[0-9]{4}"
            document.getElementById("id_nr_dokumentu").placeholder = "Np. 00125/19/2785"
            document.getElementById("id_nr_dokumentu").title = "Wprowadź według wzoru 00125/19/2785.";
        }
        if (wzor == "Legitymacja szkolna") {
            document.getElementById("id_nr_dokumentu").pattern = "^[0-9]{4}\/[0-9]{4}\/[A-Z]{1,40}|[0-9]{10}"
            document.getElementById("id_nr_dokumentu").placeholder = "Np. 1528/0040/GIM"
            document.getElementById("id_nr_dokumentu").title = "Wprowadź według wzoru 1528/0040/GIM.";
        }


    }
    function bladWyl() {
        document.getElementById('alertUsun').className = "alert1 hide";
        document.getElementById('alertUsun').className = "alert1 hide";
    }

    function myFunction() {
        var x = document.getElementById("rodzaj").value;
        document.getElementById("id_rodzaj_dok").value = x;
        var wzor = document.getElementById("id_rodzaj_dok").value

        if (wzor == "Paszport") {
            document.getElementById("id_nr_dokumentu").pattern = "^[A-Z]{2} [0-9]{7}"
            document.getElementById("id_nr_dokumentu").placeholder = "Np. AA 7258948"
        }
        if (wzor == "Dowód osobisty") {
            document.getElementById("id_nr_dokumentu").pattern = "[A-Z]{3}[0-9]{6}"
            document.getElementById("id_nr_dokumentu").placeholder = "Np. CCC225486"
        }
        if (wzor == "Prawo jazdy") {
            document.getElementById("id_nr_dokumentu").pattern = "^[0-9]{5}\/[0-9]{2}\/[0-9]{4}"
            document.getElementById("id_nr_dokumentu").placeholder = "Np. 00125/19/2785"
        }
        if (wzor == "Legitymacja szkolna") {
            document.getElementById("id_nr_dokumentu").pattern = "^[0-9]{4}\/[0-9]{4}\/[A-Z]{1,40}|[0-9]{10}"
            document.getElementById("id_nr_dokumentu").placeholder = "Np. 1528/0040/GIM"
        }
    }

    function EdycjaKlienta() {
        document.getElementById("okno").style.visibility = "visible";
        document.getElementById("okno2").style.visibility = "hidden";

        document.getElementById('legenda').className = "alert1 show";
        document.getElementById('legenda').className = "alert1 showAlert";
        document.getElementById('legenda1').className = "alert1 show";
        document.getElementById('legenda1').className = "alert1 showAlert";
        document.getElementById('legenda2').className = "alert1 show";
        document.getElementById('legenda2').className = "alert1 showAlert";

        var r = document.getElementsByClassName("alert1 showAlert");
        r[0].style.top = "221px";
        r[1].style.top = "285px";
        r[1].style.right = "1px";
        r[2].style.top = "350px";
        r[2].style.right = "1px";

    }
    function UsunKlienta() {
        document.getElementById("okno2").style.visibility = "visible";
        document.getElementById("okno").style.visibility = "hidden";

        var id = document.getElementById("td").value;
        document.getElementById("id_miesiac_dok").pattern = "^[A-Z]{1}[A-Za-z]{1,30}[0-9]{1,5}";
        document.getElementById("id_imie").pattern = "^[A-Z]{1}[A-Za-z]{1,30}[0-9]{1,5}";
        document.getElementById("id_nazwisko").pattern = "^[A-Z]{1}[A-Za-z]{1,30}[0-9]{1,5}";
        document.getElementById("id_nr_dokumentu").pattern = "^[A-Z]{1}[A-Za-z]{1,30}[0-9]{1,5}";
        document.getElementById("id_rok_dok").pattern = "^[A-Z]{1}[A-Za-z]{1,30}[0-9]{1,5}";
        document.getElementById("id_imie").value = "Usunieteimie" + id;
        document.getElementById("id_nazwisko").value = "Usunietenazwisko" + id;
        document.getElementById("id_nr_dokumentu").value = "Usunietenrdok" + id;
        document.getElementById("id_e_mail").value = "";
        document.getElementById("id_nr_telefonu").pattern = "^[A-Z]{1}[A-Za-z]{1,30}[0-9]{1,5}";
        document.getElementById("id_nr_telefonu").value = "UsunietyNrtel" + id;
        document.getElementById("id_rodzaj_dok").value = "UsunietyRodzaj_ok" + id;
        document.getElementById("id_miesiac_dok").value = "UsunietyMiesiac" + id;
        document.getElementById("id_rok_dok").value = "UsunietyRok" + id;
        document.getElementById('dataalert').className = "alert1 show";
        document.getElementById('dataalert').className = "alert1 showAlert";


    }
    function DaneUsuwania() {
        var id = document.getElementById("td").value;
        document.getElementById("id_miesiac_dok").pattern = "^[A-Z]{1}[A-Za-z]{1,30}[0-9]{1,5}";
        document.getElementById("id_imie").pattern = "^[A-Z]{1}[A-Za-z]{1,30}[0-9]{1,5}";
        document.getElementById("id_nazwisko").pattern = "^[A-Z]{1}[A-Za-z]{1,30}[0-9]{1,5}";
        document.getElementById("id_nr_dokumentu").pattern = "^[A-Z]{1}[A-Za-z]{1,30}[0-9]{1,5}";
        document.getElementById("id_imie").value = "Usunieteimie" + id;
        document.getElementById("id_nazwisko").value = "Usunietenazwisko" + id;
        document.getElementById("id_nr_dokumentu").value = "Usunietenrdok" + id;
        document.getElementById("id_e_mail").value = "";
        document.getElementById("id_nr_telefonu").pattern = "^[A-Z]{1}[A-Za-z]{1,30}[0-9]{1,5}";
        document.getElementById("id_nr_telefonu").value = "UsunietyNrtel" + id;
        document.getElementById("id_rodzaj_dok").value = "UsunietyRodzaj_ok" + id;
        document.getElementById("id_miesiac_dok").value = "UsunietyMiesiac" + id;
        document.getElementById("id_rok_dok").value = "UsunietyRok" + id;
        document.getElementById('dataalert').className = "alert1 show";
        document.getElementById('dataalert').className = "alert1 showAlert";
        document.getElementById("id_imie").id = "id_imie_1";
        document.getElementById("id_nazwisko").id = "id_nazwisko_1";
        document.getElementById("id_nr_dokumentu").id = "id_nr_dokumentu_1";
        document.getElementById("id_rodzaj_dok").id = "id_rodzaj_dok_1";
        document.getElementById("id_miesiac_dok").id = "id_miesiac_dok_1";
        document.getElementById("id_rok_dok").id = "id_rok_dok_1";
        document.getElementById("id_nr_dokumentu").id = "id_nr_dokumentu_1";
        document.getElementById("id_nr_telefonu").id = "id_nr_telefonu_1";
    }

    function ZatwierdzForm() {
        document.getElementById("edytuj").click();
    }

    function zmianaDuzeLitery() {
        const imie = document.getElementById("id_imie").value;
        const imieDuzaLitera = imie[0].toUpperCase();
        const imieOgon = imie.substr(1);
        const caleImie = (imieDuzaLitera + imieOgon);
        document.getElementById("id_imie").value = caleImie;

        const nazwisko = document.getElementById("id_nazwisko").value;
        const nazwiskoDuzaLitera = nazwisko[0].toUpperCase();
        const nazwiskoOgon = nazwisko.substr(1);
        const caleNazwisko = (nazwiskoDuzaLitera + nazwiskoOgon);
        document.getElementById("id_nazwisko").value = caleNazwisko;


    }

    function legendaWylacz() {
        document.getElementById('legenda').className = "alert1 hide";
        document.getElementById('legenda1').className = "alert1 hide";
        document.getElementById('legenda2').className = "alert1 hide";

    }

</script>

<style>
    input:not(:placeholder-shown):invalid {
        border-color: red;
        outline: none;
        box-shadow: 0 0 2px red;
    }

    input:not(:placeholder-shown):required:valid {
        border-color: #4dcc23;
        outline: none;
        box-shadow: 0 0 4px #4dcc23;
    }

    input:empty {
        border-color: darkorange;
        outline: none;
        box-shadow: 0 0 6px darkorange;
    }

    #okno {
        background: rgb(84,84,84);
        background: linear-gradient(0deg, rgba(84,84,84,0.7791491596638656) 0%, rgba(53,51,69,1) 20%, rgba(34,42,71,0.6502976190476191) 50%, rgba(50,49,64,1) 80%, rgba(91,91,91,0.7847514005602241) 100%);
    }

    #okno2 {
        background: rgb(84,84,84);
        background: linear-gradient(0deg, rgba(84,84,84,0.7791491596638656) 0%, rgba(50,61,89,0.8491771708683473) 51%, rgba(91,91,91,0.7847514005602241) 100%);
    }
</style>

<div class="glowny">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Nr dokumentu</th>
                <th scope="col">E-mail</th>
                <th scope="col">Nr telefonu</th>
            </tr>

            <tr>
                <td scope="row" style="color:white;font-family: 'Advent Pro'">{{ klient.id }}</td>
                <td style="color:white;font-family: 'Advent Pro'">{{ klient.imie }}</td>
                <td style="color:white;font-family: 'Advent Pro'">{{ klient.nazwisko }}</td>
                <td style="color:white;font-family: 'Advent Pro'">{{ klient.nr_dokumentu }}</td>
                <td style="color:white;font-family: 'Advent Pro'">{{ klient.e_mail }}</td>
                <td style="color:white;font-family: 'Advent Pro'">{{ klient.nr_telefonu }}</td>
            </tr>
        </thead>
    </table>
    <input type="hidden" value="{{ klient.id }}" id="td" />
</div>

<button id="edytuj_klienta" onclick="EdycjaKlienta()" style="margin-left:1700px; width:170px;" class="btn btn-primary">Edytuj dane klienta</button>
<p> </p>
<button id="usun_klienta" onclick="UsunKlienta()" style="margin-left:1700px; width:170px;" class="btn btn-danger">Usuń dane klienta</button>

<div id="okno" style="position: fixed; border-radius: 25px; margin-left: 30%; margin-right: 30%; padding-left: 0%; visibility: hidden ">

    <h1 style="text-align:center; font-family: 'Advent Pro'">&emsp;&emsp;&emsp;&emsp;&emsp;Edycja danych klienta&emsp;&emsp;&emsp;&emsp;&emsp;</h1>


    <form style="font-family: 'Advent Pro', serif; color: white;" method="post">
        {% csrf_token %}
        <div style="width:350px; margin-left:38%">
            <div style="" class="form-row">
                <div class="form-group col-md-6">
                    <p style="color:black;" for="staticEmail" class="col-sm-2 col-form-label">Imie</p>
                    {{form.imie}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <p style="color: black;" for="staticEmail" class="col-sm-2 col-form-label">Nazwisko</p>

                    {{form.nazwisko}}

                </div>
            </div>
            <p style="color:black ; margin-left:3%">Wybierz dokument</p>
            <select id="rodzaj" style="width:49%" class="form-control" onchange="myFunction()">
                <option value="Dowod osobisty">Dowod osobisty</option>
                <option value="Prawo jazdy">Prawo jazdy</option>
                <option value="Paszport">Paszport</option>
                <option value="Legitymacja szkolna">Legitymacja szkolna</option>
            </select>
        </div>
        <div style=" width: 350px;margin-left:25% " class="form-row">
            <div class="form-group col-md-6">
                <p style="color: black;" for="staticEmail" class="col-sm-2 col-form-label">Rodzaj</p>
                {{form.rodzaj_dok}}
            </div>

            <div class="form-group col-md-6">
                <p style="color: black;" for="staticEmail" class="col-sm-2 col-form-label">Nr_dokumentu</p>
                {{form.nr_dokumentu}}
            </div>
        </div>

        <div style=" width:350px; margin-left:25%" class="form-row">
            <div class="form-group col-md-6">
                <p style="color: black;" for="staticEmail" class="col-sm-2 col-form-label">Rok</p>
                {{form.rok_dok}}
            </div>


            <div class="form-group col-md-6">
                <p style="color: black;" for="staticEmail" class="col-sm-2 col-form-label">Miesiac</p>

                {{form.miesiac_dok}}
            </div>
        </div>
        <div style="width:350px; margin-left:38%">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <p style="color:black;" for="staticEmail" class="col-sm-2 col-form-label">Email</p>
                    {{form.e_mail}}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <p style="color:black;" for="staticEmail" class="col-sm-2 col-form-label">Nr_telefonu</p>
                    {{form.nr_telefonu}}
                </div>
            </div>
        </div>
        <button id="edytuj" style="margin-left:43%" type="submit" onclick="zmianaDuzeLitery()" class="btn btn-primary">Zatwierdź</button>
    </form>
    <p></p>
</div>

<div id="okno2" style="position: fixed; background-color: white; border-radius: 25px; margin-left: 30%; margin-right: 30%; padding-left: 0%; visibility: hidden ">
    <p></p>
    <h1 style="text-align:center; font-family: 'Advent Pro'"> &emsp;&emsp;&emsp;&emsp;&nbsp;Usuwanie danych klienta&emsp;&emsp;&emsp;&emsp;&nbsp;</h1>
    <h3 style="text-align:center; font-family: 'Advent Pro'">Czy jesteś pewnien usunięcia danych {{klient.imie}} {{klient.nazwisko}}? </h3>

    <p></p>
    <p></p>
    <button onclick="ZatwierdzForm()" style="margin-left:38%; width:80px;" id="Tak" type="submit" class="btn btn-primary">Tak</button>
    <a href="{% url 'dane_klienta' pk=klient.pk %}"><button style="width:80px;" id="Nie" type="submit" class="btn btn-primary">Nie</button></a>
    <p></p>
</div>


<div id="alertUsun" class="alert1 hide">
    <span class="fas fa-exclamation-circle"></span>
    <span class="msg">Czy napewno chcesz usunąć użytkownika?</span>
    <div onclick="bladWyl()" class="close-btn">
        <span class="fas fa-times"></span>
    </div>
</div>

<div id="legenda" class="alert1 hide">
    <span class="fas fa-exclamation-circle"></span>
    <span class="msg">Kolor pomarańczowy oznacza pola obowiązkowe.</span>
    <div onclick="legendaWylacz()" class="close-btn">
        <span class="fas fa-times"></span>
    </div>
</div>
<div id="legenda1" class="alert1 hide">
    <span class="msg">Kolor czerwony oznacza pola źle wypełnione.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

</div>

<div id="legenda2" class="alert1 hide">
    <span class="msg">Kolor zielony oznacza pola dobrze wypełnione. &nbsp;&nbsp;&nbsp;</span>

</div>
    {% endblock %}