{% extends 'index.html' %}
{% load static %}
{%block content%}
<style>
    #info_dodatkowe {
        margin-left: 70%;
        width: 500px;
        height: 100px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        resize: none;
    }

    input:not(:placeholder-shown):invalid {
        border-color: red;
        outline: none;
        box-shadow: 0 0 2px red;
    }

    input:not(:placeholder-shown):required:valid {
        border-color: #4dcc23;
        outline: none;
        box-shadow: 0 0 2px #4dcc23;
    }

</style>
<script>
    function pickup() {
        document.getElementById("id_status").value = "Pickup"
    }
    function pow() {
        if (document.getElementById("id_status_platnosci").value == "Zapłacony") {
            document.getElementById("id_status").value = "Powrót";
        }
        else {
            document.getElementById('alertZleDodanaPlatnosc').className = "alert1 show";
            document.getElementById('alertZleDodanaPlatnosc').className = "alert1 showAlert";
            document.getElementById("id_status_platnosci").value = "";
        }
    }
    function spoznienie() {
        document.getElementById("id_status").value = "Spóźniony"
    }
    function myFunction1() {
       

        document.getElementsByTagName("label")[0].innerHTML = "";
        document.getElementsByTagName("label")[1].innerHTML = "";
        document.getElementsByTagName("label")[2].innerHTML = "";
        document.getElementsByTagName("label")[3].innerHTML = "";
        document.getElementsByTagName("label")[4].innerHTML = "";
        document.getElementsByTagName("label")[5].innerHTML = "";
        document.getElementsByTagName("label")[6].innerHTML = "";
        document.getElementsByTagName("label")[7].innerHTML = "";
        document.getElementsByTagName("label")[8].innerHTML = "";
        document.getElementsByTagName("label")[9].innerHTML = "";
        document.getElementById("id_data_rozpoczecia").type = "hidden";
        document.getElementById("id_data_zakonczenia").type = "hidden";
        document.getElementById("id_godzina_rozpoczecia").type = "hidden";
        document.getElementById("id_godzina_zakonczenia").type = "hidden";
        document.getElementById("id_klient").style.visibility = 'hidden';
        document.getElementById("id_sprzet").style.visibility = 'hidden';
        document.getElementById("id_status").style.visibility = 'hidden';
        document.getElementById("id_id_klient").style.visibility = 'hidden';
        document.getElementById("id_id_sprzet").style.visibility = 'hidden';
        document.getElementById("do").style.visibility = 'hidden';
        document.getElementById("do1").style.visibility = 'hidden';
        document.getElementById("id_informacje_dodatkowe").style.visibility = 'hidden';
        document.getElementById("id_platnosc").className = 'form-control';
        document.getElementById("id_platnosc").style.width = '150px';
        document.getElementById("id_platnosc").style.margin = '0';
        document.getElementById("id_rodzaj_platnosci").className = 'form-control';
        document.getElementById("id_rodzaj_platnosci").style.width = '150px';
        document.getElementById("id_rodzaj_platnosci").style.margin = '0';
        document.getElementById("id_status_platnosci").className = 'form-control';
        document.getElementById("id_status_platnosci").style.width = '150px';
        document.getElementById("id_status_platnosci").style.margin = '0';
        document.getElementById("id_data_platnosci").className = 'form-control';
        document.getElementById("id_data_platnosci").style.width = '150px';
        document.getElementById("id_data_platnosci").style.margin = '0';
        document.getElementById("datap").valueAsDate = new Date();
        document.getElementById("info_dodatkowe").value = document.getElementById("id_informacje_dodatkowe").value;
        document.getElementById("id_data_platnosci").value = document.getElementById("datap").value;

  
    }

    function platnosc() {
        document.getElementById("id_rodzaj_platnosci").value = document.getElementById("metoda").value;
        var kwota = document.getElementById("kwota").value;
        var do_zaplaty = document.getElementById("id_platnosc").value;
        var suma = kwota - do_zaplaty;
       
        if (suma < 0) {
            document.getElementById("id_status_platnosci").value = "Niedopłata";
            var tekst = ("Podana kwota się nie zgadza - niedopłata  " + "do zapłaty: " + do_zaplaty + " wpłacona kwota: " + kwota + " brakuje jeszcze: " + (do_zaplaty - kwota));
            document.getElementById("msgZaMalaPlatnosc").innerHTML = tekst;
            document.getElementById('alertZaMalaPlatnosc').className = "alert1 show";
            document.getElementById('alertZaMalaPlatnosc').className = "alert1 showAlert";
        }
        else if (suma > 0) {
            document.getElementById("id_status_platnosci").value = "Nadpłata";
            var tekst = ("Podana kwota się nie zgadza, do zapłaty: " + do_zaplaty + " wpłacona kwota: " + kwota + " za dużo o: " + (kwota - do_zaplaty));
            document.getElementById("msgZaDuzaPlatnosc").innerHTML = tekst;
            document.getElementById('alertZaDuzaPlatnosc').className = "alert1 show";
            document.getElementById('alertZaDuzaPlatnosc').className = "alert1 showAlert";
        }

        else {
            document.getElementById("id_status_platnosci").value = "Zapłacony";
        }


        var data_strona = new Date(document.getElementById("datap").value);
        var dzienDzisiaj = new Date().getDate();
        var dzien_plat = data_strona.getDate();
        var miesiac = new Date().getMonth() + 1
        if (dzien_plat < dzienDzisiaj || data_strona.getMonth() + 1 < miesiac) {
            document.getElementById('alertDataPlatnosci').className = "alert1 show";
            document.getElementById('alertDataPlatnosci').className = "alert1 showAlert";
            document.getElementById("id_data_platnosci").value = "";
        }

        var r = document.getElementsByClassName("alert1 showAlert");
        r[1].style.top = "100px";
        r[2].style.top = "190px";
        r[3].style.top = "280px";
        r[4].style.top = "370px";
    }
    function data_platnosci() {
        document.getElementById("id_data_platnosci").value = document.getElementById("datap").value;
    }
    function dane() {
        var dane = document.getElementById("z").value;

        document.getElementById("do").value = dane;
    }
    function dane1() {
        var dane1 = document.getElementById("z1").value;

        document.getElementById("do1").value = dane1;


    }

    function bladWylZleDodanaPlatnosc() {
        document.getElementById('alertZaMalaPlatnosc').className = "alert1 hide"
        document.getElementById('alertZleDodanaPlatnosc').className = "alert1 hide"
    }
    
    function bladWylZaDuzaPlatnosc() {
        document.getElementById('alertZaDuzaPlatnosc').className = "alert1 hide"
    }

    function bladWylDataPlatnosci() {
        document.getElementById('alertDataPlatnosci').className = "alert1 hide"
    }
</script>




<div>
    <div style="margin-left: 3px; color: white; font-family: 'Advent Pro', serif; text-align: center; ">
        <h1 id="Dane">Dane wypożyczenia {{wypozyczenie.id}} </h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th style="font-family: 'Advent Pro'" scope="col">Numer wypożyczenia</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Data rozpoczęcia</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Data zakończenia</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Godzina rozpoczęcia</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Godzina zakończenia</th>
                    <th style="font-family: 'Advent Pro'" scope="col">ID klienta</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Klient</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Sprzęt</th>
                    <th style="font-family: 'Advent Pro'" scope="col">ID sprzętu</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Status</th>
                </tr>
                <tr>
                    <td style="color:white;font-family: 'Advent Pro'" scope="row">{{ wypozyczenie.id }}</a></td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.data_rozpoczecia }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.data_zakonczenia }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.godzina_rozpoczecia }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.godzina_zakonczenia }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.id_klient }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.klient }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.sprzet }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.id_sprzet }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.status }}</td>

                </tr>
            </thead>
        </table>

    </div>
    <div>

        <form method="post">
            <button style="margin-left:70%" type="submit" onclick="pickup()" class="btn btn-primary" id="wypusc">Wypuść rezerwacje</button>
            <button type="submit" onclick="pow()" class="btn btn-success" id="powrot">Powrót wypożyczenia</button>
            <button type="submit" onclick="spoznienie()" class="btn btn-danger" id="spoznione">Spóźnione wypożyczenie</button>

            {% csrf_token %}

            {{form}}


        </form>
        <textarea id="info_dodatkowe" placeholder="Informacje dodatkowe"></textarea>
        <input onchange="data_platnosci()" style="margin-left:11.3%; margin-bottom:5px; margin-top:10px; font-family: 'Advent Pro'" class="btn btn-danger" type="date" id="datap" name="trip-start"
               value="2021-01-22"
               min="2020-01-01" max="2022-12-31">
        <input class="form-control" style="width:200px;margin-left:10%;margin-bottom:5px;text-align:center" placeholder="Podaj kwote" type="text" id="kwota">

        <select style="margin-left:8%" id="metoda" class="btn btn-primary">
            <option>Gotówka</option>
            <option>Karta</option>
            <option>Voucher</option>
            <option>Przelew</option>
        </select>

        <button type="submit" onclick="platnosc()" class="btn btn-success" id="zatwierdz">Zatwierdź płatność</button>
    </div>
    <div>
        <form method="GET" action="{% url 'spis_klientow' %}">
            <input id="do" name="q" class="form-control" value="{{request.GET.q}}" placeholder="Szukaj" style="max-width:300px">
            <button style="margin-left:85%" id="z" value="{{wypozyczenie.id_klient}}" onclick="dane()" class="btn btn-primary  ">Przejdź do szczegółów klienta nr.{{ wypozyczenie.id_klient }} </button>
        </form>

        <form method="GET" action="{% url 'spis_sprzetu' %}">
            <input id="do1" name="q" class="form-control" value="{{request.GET.q}}" placeholder="Szukaj" style="max-width:300px">
            <button style="margin-left:85%" id="z1" value="{{wypozyczenie.id_sprzet}}" onclick="dane1()" class="btn btn-primary  ">Przejdź do szczegółów sprzętu nr.{{ wypozyczenie.id_sprzet }}</button>
        </form>
    </div>



</div>

<div id="alertZleDodanaPlatnosc" class="alert1 hide">
    <span class="fas fa-exclamation-circle"></span>
    <span class="msg">Źle dodana płatność</span>
    <div onclick="bladWylZleDodanaPlatnosc()" id="divek2" class="close-btn">
        <span class="fas fa-times"></span>
    </div>
</div>

<div id="alertZaMalaPlatnosc" class="alert1 hide">
    <span class="fas fa-exclamation-circle"></span>
    <span class="msg" id="msgZaMalaPlatnosc"></span>
    <div onclick="bladWylZleDodanaPlatnosc()" id="divek2" class="close-btn">
        <span class="fas fa-times"></span>
    </div>
</div>

<div id="alertZaDuzaPlatnosc" class="alert1 hide">
    <span class="fas fa-exclamation-circle"></span>
    <span class="msg" id="msgZaDuzaPlatnosc"></span>
    <div onclick="bladWylZaDuzaPlatnosc()" id="divek2" class="close-btn">
        <span class="fas fa-times"></span>
    </div>
</div>

<div id="alertDataPlatnosci" class="alert1 hide">
    <span class="fas fa-exclamation-circle"></span>
    <span class="msg">Data płatności nie może być wcześniejsza od dzisiejszej</span>
    <div onclick="bladWylDataPlatnosci()" id="divek2" class="close-btn">
        <span class="fas fa-times"></span>
    </div>
</div>
{%endblock%}



