{% extends 'index.html' %}
{% load static %}
{% block content %}



<div>
    <div style="margin-left: 3px; color: white; font-family: 'Advent Pro', serif; float: left; width: 49%; text-align: center; border: 2px ridge red;">
        <h1>Wypozyczenia nieoplacone</h1>
        <form method="GET" action="{% url 'platnosci' %}">
            <input name="q" class="form-control" value="{{request.GET.q}}" placeholder="Podaj rok-miesiac-dzien np. 2021-03-03" style="max-width:300px">
        </form>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th style="font-family: 'Advent Pro'" scope="col">Numer wypozyczenia</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Data rozpoczecia</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Klient</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Sprzet</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Status</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Status platnosci</th>
                </tr>
                {% for wypozyczenie in do_zaplaty %}
                <tr>
                    <td style="color:white;font-family: 'Advent Pro'" scope="row"><a value="{{wypozyczenie.id_klient}}" href="{% url 'dane_wypozyczenia' pk=wypozyczenie.pk %}">{{ wypozyczenie.id }}</a></td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.data_rozpoczecia }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.klient }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.sprzet }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.status }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.status_platnosci }}</td>
                </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
    <div style=" margin-left: 3px; color: white; font-family: 'Advent Pro', serif; float: left; width: 49%; text-align:center; border: 2px ridge green;">
        <h1>Wypozyczenia oplacone</h1>
        <form method="GET" action="{% url 'platnosci' %}">
            <input name="q1" class="form-control" value="{{request.GET.q1}}" placeholder="Podaj rok-miesiac-dzien np. 2021-03-03" style="max-width:300px">
        </form>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th style="font-family: 'Advent Pro'" scope="col">Numer wypozyczenia</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Data zakonczenia</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Klient</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Sprzet</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Status</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Status platnosci</th>
                    <th style="font-family: 'Advent Pro'" scope="col">Data platnosci</th>
                </tr>
                {% for wypozyczenie in zaplacone %}
                <tr>
                    <td style="color:white;font-family: 'Advent Pro'" scope="row"><a href="{% url 'dane_wypozyczenia' pk=wypozyczenie.pk %}">{{ wypozyczenie.id }}</a></td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.data_zakonczenia }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.klient }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.sprzet }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.status }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.status_platnosci }}</td>
                    <td style="color:white;font-family: 'Advent Pro'">{{ wypozyczenie.data_platnosci }}</td>
                </tr>
                {% endfor %}
            </thead>
        </table>
    </div>
</div>
{%endblock%}
