{% extends 'base.html' %}
{% load static %}

   {% block content %}
<div class="glowny">

    <div class="input-group-append">
        <form method="GET" action="{% url 'spis_klientow' %}">
            <input name="q" class="form-control" value="{{request.GET.q}}" placeholder="Szukaj" style="max-width:300px">
        </form>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th style="font-family: 'Advent Pro'" scope="col">ID</th>
                <th style="font-family: 'Advent Pro'" scope="col">Imie</th>
                <th style="font-family: 'Advent Pro'" scope="col">Nazwisko</th>
                <th style="font-family: 'Advent Pro'" scope="col">Nr dokumentu</th>
                <th style="font-family: 'Advent Pro'" scope="col">E-mail</th>
                <th style="font-family: 'Advent Pro'" scope="col">Nr telefonu</th>
            </tr>
            {% for klient in obj %}
            <tr>
                <td style="font-family: 'Advent Pro'" scope="row"><a href="{% url 'dane_klienta' pk=klient.pk %}">{{ klient.id }}</a></td>
                <td style="color:white;font-family: 'Advent Pro'">{{ klient.imie }}</td>
                <td style="color:white;font-family: 'Advent Pro'">{{ klient.nazwisko }}</td>
                <td style="color:white;font-family: 'Advent Pro'">{{ klient.nr_dokumentu }}</td>
                <td style="color:white;font-family: 'Advent Pro'">{{ klient.e_mail }}</td>
                <td style="color:white;font-family: 'Advent Pro'">{{ klient.nr_telefonu }}</td>
            </tr>
            {% endfor %}
    </table>
    
</div>
    {% endblock %}