{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wypozyczalnia rowerow</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="rejestracja.html">
                    <i class="fa fa-plus fa-2x"></i>
                    <span class="nav-text">
                        Nowe wypozyczenie
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-address-card fa-2x"></i>
                    <span class="nav-text">
                        Spis klientow
                    </span>
                </a>
            </li>
    </nav>
    <div>

    </div>
    <div id="spis klientow">
        {% block content %}
    
        <table>
            <tr>
                <th>id</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Nr dokumentu</th>
                <th>E-mail</th>
                <th>Nr telefonu</th>
            </tr>
            {% for klient in obj %}
            <tr>
                <td>aasdasd{{ klient.id }}</td>
                <td>{{ klient.imie }}</td>
                <td>{{ klient.nazwisko }}</td>
                <td>{{ klient.nr_dokumentu }}</td>
                <td>{{ klient.e_mail }}</td>
                <td>{{ klient.nr_telefonu }}</td>
            </tr>
            {% endfor %}
        </table>


        {% endblock %}
    </div>
</body>
</html>