{% extends 'base.html' %}
{% load static %}

   {% block content %}
<div class="glowny">

    <div class="input-group-append">
        <form method="GET" action="{% url 'spis_klientow' %}">
            <input name="q" class="form-control" value="{{request.GET.q}}" placeholder="Szukaj" style="max-width:300px">
        </form>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Nr dokumentu</th>
                <th scope="col">E-mail</th>
                <th scope="col">Nr telefonu</th>
            </tr>
            {% for klient in obj %}
            <tr>
                <td scope="row"><a href="{% url 'dane_klienta' pk=klient.pk %}">{{ klient.id }}</a></td>
                <td>{{ klient.imie }}</td>
                <td>{{ klient.nazwisko }}</td>
                <td>{{ klient.nr_dokumentu }}</td>
                <td>{{ klient.e_mail }}</td>
                <td>{{ klient.nr_telefonu }}</td>
            </tr>
            {% endfor %}
    </table>
</div>
    {% endblock %}